/* ECF - Evaluation Graduate Développeur Web et Web Mobile
     Réalisation par : Voahiranirina Myriam RAJERIARISOA
     Date : Mai 2023
     Projet : création du site internet du restaurant Quai Antique 
     Phases du projet : 3 découpage en 3 lots. Chaque lot livré  pour tout utilisateur.
     ==> Lot 1 : site internet Front End statique
     ==> Lot 2 : site internet Front End dynamique
     ==> Lot 3: site internet avec les parties Front End  et Back end opérationnelles
     Livraison : (date + description)
*/
/* Palette des couleurs : #b6ac97 / #392c1e / #906427
/* Police Montserrat / Lora / Hind madurai

/* Page */
body {
  background-color: #b6ac97;

  }

  * {
   margin: 0;
   padding: 0;
  }

       /* Entête */
       header {
              font-family: Montserrat;
               display: flex;
               justify-content: space-between;
               background-color:  #392c1e;
               color: #b6ac97;
               border-bottom: 5px solid #906427;
              } 
       
              .home-quai-antique {
                 display: flex;
                 align-items: center;
                 margin: 5px;
             }
       
             .logo-restau-home {
              border-radius: 30%;
              border: 2px solid #906427;

             }
       
             .restau-home {
               font-size: 2rem;
               font-family: Montserrat;
               font-weight: bold;
               margin-left: 10px;
             }
       
             /* Menu de navigation */
             .nav {   
                font-family: Lora;
                 display: flex;
                 align-items: center;
                 position: absolute;
                 right: 20px;
                 top: 20px;
             }
       
             .nav .nav-item {
               font-size: 1rem;
               font-weight: 700;
               margin-left: 10px;
               margin-right: 10px;
               color: #b6ac97;
               background-color: #392c1e;
             }

             .nav .nav-item > a {
              text-decoration: none;
              color: #b6ac97;
            }
             
       /* Contenu-galerie */

         .galerie {
          background-color: #392c1e;
          font-family: Lora;
          margin-top: 40px;
          padding-top: 20px;
          margin-bottom: 30px;
          padding-bottom: 20px;
          width: 100vw;
         }

         .list-menu-galerie {
          text-decoration: none;
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }




         .list-menu-galerie .lien-menu {
          color: #b6ac97;
          width: 100%;
          height: 100px;
          width: 100px;
        }
        

       /* Contenu-main */

           .main {
          font-family: Lora;
           background-color: white;
           vertical-align: top;
         /*  display: inline-block;
           width: 60%;
           height: 700px;
           margin-left: 60px;
           margin-right: 20px;
           margin-bottom: 30px;*/
           padding: 15px;
           } 


       

                      /* Pied de page */
                      .footer {
                        background-color: #392c1e;
                        color: #b6ac97;
                        
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                
                        }
                
                        .footer > .restau-footer {
                          font-family: Montserrat;
                          text-align: center;
                          font-size: 2rem;
                          margin-top: 30px;
                          margin-bottom: 30px;
                        }

                        .footer > .menu-footer {
                          
                          margin-top: 30px;
                          font-weight: bold;
                        }
                
                        .list-menu-footer {
                          font-family: Hind Madurai;
                          display: inline-block;
                          list-style: none;
                          position: absolute;
                          left: 400px;
                          font-size: 0.8rem;
                          font-weight: bold;
                          margin-top: 80px;
                        }
                
                        .list-menu-footer .lien-home {
                          text-decoration: none;
                          color: #b6ac97;
                        }

                        .list-menu-footer > li:focus {
                          border: 3px solid #392c1e;
                          border-radius: 20%;
                          padding: 5px;
                          background-color: #906427;
                        }

                        .list-social-footer {
                          display: inline-block;
                          list-style: none;
                          position: absolute;
                          right: 400px;
                           margin-top: 80px;
                        }
                
                          .footer > .date-footer {
                          font-family: Hind Madurai;
                          text-align: center;
                          margin-top: 50px;
                          font-size: 0.8rem;
                        }
                        

                        .nav .nav-item > a:focus {
                          border: 3px solid #392c1e;
                          border-radius: 20%;
                          padding: 5px;
                          background-color: #906427;
                        }


                        @media (max-width: 1000px) {
                          .main {
                            overflow: scroll;
                            display: block;
                            margin-bottom: 10px;
                          }
                          .galerie {
                            display: block;
                          }
                        }
 /*         --------------------

               .news-logo {
                 position: absolute;
                 top: 900px;
                 right: 30px;
                 height: 50px;
                 width: 50px;
                 border-radius: 50%;
                 }
       
                 body {
                  background-color: grey;
                  }
            
            * {
             margin: 0;
             padding: 0;
            }
                .container {
                width: 50%;
                border: 3px solid black;
                display: flex;
                } 
            
              .left{
               background-color: blue;
               width: 50vw;
               } 
     
               .right{
                 background-color: red;
                 width: 50%;
                 height: 100vh;
                 } 
     
                 @media (max-width: 1000px) {
                   .right{
                     background-color: green;
                     flex-grow: 1;
                   }   
     
                   .container{
                     flex-direction: column;
                     height: 100vh;
                   } 
                     
                   .left, .right{
                       width: 100vw;
                       height: 50vh;
                   }   
     
                   }
     
                   @media (max-width: 500px) {
                     .right{
                       background-color: purple;
                         }   
                     }
     
                   @media (min-width: 500px) {
                     .left{
                       background-color: purple;
                         }   
                     }
     
                     @media (min-width: 700px) and (max-width: 1000px) {
                       h1 {
                         font-size: 14px;
                           }   
                       }
                       