/* Exercice du cours : La mise en page avec CSS. 
Exercice DEFI page 34 : construire la structure d'une page de blog.
couleurs utilisées sont #000000 pour le noir, #fffc00 pour le jaune et #ff4757 pour le rose
*/

       /* Page */
           body {
             font-family: Calibri, sans-serif;
             font-size: 12px;
             background-color: #fffc00;
             margin: 0;
             padding: 0;
             }
       
       
       /* Entête */
       header {
               display: flex;
               justify-content: space-between;
               margin-bottom: 10px;
               background-color:  #fffc00;
              }
       
              .logo-mon-blog {
                 display: flex;
                 align-items: center;
             }
       
             .logo {
               height: 5rem;
               width: auto;
               float: left;
             }
       
             .blog-name {
               font-size: 4rem;
               font-weight: 700;
             }
       
             /* Menu de navigation */
             .nav {
                 display: flex;
                 align-items: center;
                 position: absolute;
                 right: 20px;
                 top: 40px;
             }
       
             .nav-item {
               font-size: 1rem;
               font-weight: 700;
               margin-left: 10px;
               margin-right: 10px;
             }
             
       /* Contenu */
       
         /* Contenu article*/
           .main {
           background-color: white;
           vertical-align: top;
           display: inline-block;
           width: 60%;
           height: 700px;
           margin-left: 60px;
           margin-right: 20px;
           margin-bottom: 30px;
           } 
       
         .article1 {
             margin: 20px 10px 20px;
           }
       
           .article2 {
             margin: 20px 10px 20px;
           }
       
       
           .main > .article1 > .img-nature {
             float: left;
             margin: 10px;
       
           }
       
           .main > .article2 > .img-nature {
             float: right;
             clear: left;
             margin: 10px;
           }
       
             /* Contenu menu des articles */
           .aside {
               display: inline-block;
               vertical-align: top;
               position: absolute;
               right: 60px;
               width: 25%;
               height: 700px;
               padding-right: 10px;
               margin-left: 40px;
               margin-right: 20px;
               margin-bottom: 20px;
               padding-right: 40px;
               background-color: white;
             }
       
             .list-menu-aside {
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
             }
       
             .list-menu-aside-item {
               list-style: none;
               background-color: rgb(194, 192, 192);
               height: 20px;
               text-align: left;
               margin-bottom: 5px;
               padding: 5px;
             }
       
         
               /* Pied de page */
               .footer {
               background-color: black;
               color: #fffc00;
               height: 200px;
               padding-top: 20px ;
               display: flex;
               flex-direction: column;
               justify-content: center;
       
               }
       
               .footer > .menu-footer {
               margin-bottom: 50px;
               }
       
               .list-menu-footer {
                 display: inline-block;
                 list-style: none;
                 position: absolute;
                 left: 400px;
               }
       
               .list-menu-footer .lien-home {
                 text-decoration: none;
                 color: #fffc00;
               }
       
               .list-social-footer {
                 display: inline-block;
                 list-style: none;
                 position: absolute;
                 right: 400px;
               }
       
                 .footer > .date-footer {
                 text-align: center;
                 margin-top: 50px;
               }
               
               .news-logo {
                 position: absolute;
                 top: 900px;
                 right: 30px;
                 height: 50px;
                 width: 50px;
                 border-radius: 50%;
                 }
       

